.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.clear-float {
  clear: both;
}

.add-button {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 40px;
  bottom: 40px;
  border-radius: 35px;
  color: aliceblue;
  background-color: #61dafb;
}
.add-button:hover {
  cursor: pointer;
  background-color: deepskyblue;
}
.add-button:active {
  opacity: 0.6;
  box-shadow: 0 0 10px deepskyblue;
}
.add-button h2 {
  font-size: 60px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.new-todo-background {
  background-color: rgba(128, 128, 128, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
}

.new-todo {
  position: relative;
  width: 80%;
  max-width: 700px;
  height: 50vh;
  margin: 20vh auto;
  background-color: white;
  border: 3px solid #eee;
  border-radius: 7px;
  box-shadow: 0 0 10px gray;
  z-index: 101;
}
.new-todo:focus-within {
  border: 3px solid #61dafb;
}

.close-button {
  float: right;
  margin: 10px 10px;
  display: block;
  z-index: 120;
}

.add-confirm {
  color: #eee;
  position: absolute;
  bottom: 5px;
  transform: translate(-50%,0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
